{% extends 'core/base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}


<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Edit Account</h1>

    <form action="." method="post" class="space-y-3">
        {% csrf_token %}
        <div>
            <label for="">First name</label>
            <input type="text" name="first_name" value="{{request.user.first_name}}" class="w-full mt-4 py-4 px-6 bg-gray-100 rounded-xl">
        </div>
        <div>
            <label for="">Last name</label>
            <input type="text" name="last_name" value="{{request.user.last_name}}" class="w-full mt-4 py-4 px-6 bg-gray-100 rounded-xl">
        </div>
        <div>
            <label for="">Username</label>
            <input type="text" name="username" value="{{request.user.username}}" class="w-full mt-4 py-4 px-6 bg-gray-100 rounded-xl">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" name="email" value="{{request.user.email}}" class="w-full mt-4 py-4 px-6 bg-gray-100 rounded-xl">
        </div>
        <button class="py-4 px-6 rounded-xl text-white bg-purple-500">Submit</button>
    </form>
 
</div>

{% endblock %}